.button--removesmall{
	border-color: #b51919;
	color: #FFF;
	background-color: #b51919;

	&:hover,
	&:focus {
		border-color: #e70c0c;
		background-color: #e70c0c;
	}

	&:active {
		border-color: #990101;
		background-color: #990101;
	}
}
