@register-comment-bg: #f6f7f8;
@bg-color-checkbox: #1e6791;
@form-border-radius: 4px;
@white:#fff; 
@form-box-shadow: 0 0 0 4px rgba(226, 233, 240, 0.8);
@form-border-radius: 4px;
@border-color: #B1BFC7;
@border-color-active: #999999;
@transition-form: border 0.40s ease-in-out, box-shadow 0.40s ease-in-out;
@title: #222222;
@text: #383737;;
@textarea-comment-add: #dde8ee; 
@active: #037ec6; 

@upload-button: #8e9ba2;
@background-color: rgba(238, 240, 242, 0.5);


@white:#fff;

@upload-button: #8e9ba2;
@background-color: rgba(238, 240, 242, 0.5);


