.footer-bottom .footer {
    margin-top: auto;
}

.footer {
    font-family: 'Myriad Pro';
    min-height: 300px;
    background-color: #252525;
    color: #ffffff;
    padding: 40px 150px 0px;
    display: flex;
    justify-content: space-between;
        
    a {
        .transition;
        text-decoration: none;
        color: #ffffff;
        // border-bottom: 1px solid rgba(255,255,255,0.3);
        &:hover {
            color: #ffe400;
        }
    }

    .fa-heart > path {
        fill: #d10946;
    }

    .footer-nav {
    	margin-bottom: 20px;
    	border-bottom: none;
        line-height: 28px;
        padding-right: 75px;
        
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
                        
            li {
                margin: 0;
                padding: 0;
                }

                a {
                    display: block;
                    margin-bottom: 5px;                   
                }
                
            }    
    }

    .footer__icons {
        font-size: 32px;
        padding-right: 280px;
        
        a {
        	border-bottom: none;
            &:hover {
                color: #ffe400;
            }
            &:not(:last-child) {
                margin-right: 35px;
            }
        }
    }

    .copyright {
        line-height: 24px;

        span {
            .transition;
            font-family: 'Open sans';
            font-weight: bold;
            &:hover {
                color: #ffe400;
            }
        }

        p {
            margin-top: 0px;
        }
    }

}