.footer-bottom .footer {
	margin-top: auto;
}

.footer {
	min-height: 300px;
	background-color: #252525;
	color: #ffffff;
    width: 100%;
	a {
		.transition;
		text-decoration: none;
		color: #ffffff;
		&:hover, &:focus {
			color: #ffe400;
			text-decoration: none;
		}
		&:active {
    		color: #ffe400;
    		outline-style: none;
    	}
	}
	.fa-heart>path {
		fill: #d10946;
	}
	.footer-nav {
		border-bottom: none;
		line-height: 28px;
		ul {
			margin: 0px;
			padding: 0px;
			list-style-type: none;
			li {
				margin: 0px;
				padding: 0px;
			}
			a {
				display: inline-block;
				margin-bottom: 5px;
			}
		}
	}
	.footer__icons {
		font-size: 32px;
		a {
			&:not(:last-child) {
				margin-right: 35px;
			}
		}
	}
	.footer__copyright {
		line-height: 24px;
		.fa-heart {
			margin-left: 7px;
			margin-right: 7px;	
		}
		span {
			.transition;
			font-weight: bold;
		}
		p {
			margin-top: 0px;
			margin-bottom: 10px;
			line-height: 1.5;
		}
	}
}
