+comments-item('avatar-2.jpg',' Джон До', ' 05 мая 2017', '15:45', 'Замечательный парк, обязательно отправлюсь туда этим летом.')
+comments-item('avatar-3.jpg',' Джон До', ' 05 мая 2017', '15:45', 'Замечательный парк, обязательно отправлюсь туда этим летом.')
