// Секция под футер для сайта
footer
	- 
		var navigation = [
			{name: 'Главная', link: 'index.html'},
			{name: 'Обо мне', link: 'index.html'},
			{name: 'Работы', link: 'index.html'},
			{name: 'Блог', link: 'index.html'},
			{name: 'Контакты', link: 'index.html'}
			]

	.footer
		.footer-nav__item.copyright
			p
				| © Юрий Ключевский <br>
				| Создано с 
				i.fas.fa-heart
				|  в 
				a(href='http://webcademy.ru' target='_blank')
					span.
						WebCademy.ru 
				| в 2018 году
		nav.footer-nav.footer-nav__item
			ul
				each item in navigation
					li
						a(href= item.link)= item.name

		.footer-nav__item.footer__icons
			a(href='#' target='_blank')
				i(class='fab fa-vk')
			a(href='#' target='_blank')
				i(class='fab fa-twitter')
			a(href='#' target='_blank')
				i(class='fab fa-youtube')
			a(href='#' target='_blank')
				i(class='fab fa-instagram')
			a(href='#' target='_blank')
				i(class='fab fa-facebook-f')