// Секция под шапку на сайт 

header.header
	.header-admin__container
		.header-top
			+logo('Digital Lifestyle','Сайт IT специалиста')
		nav.header-nav
			ul
				+linkNav('Главная', '#')
				+linkNav('Обо мне', '#')
				+linkNav('Работы', '#')
				+linkNav('Блог', '#')
				+linkNav('Контакты','#')
