.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк
	
	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")

	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Аватарки", "avatars.html")
			+linkLeftPanel("Анимация загрузки", "page-spinner.html")
			+linkLeftPanel("Бейджи", "badges.html")
			+linkLeftPanel("Индикаторы", "indicators.html")
			+linkLeftPanel("Карточки", "cards.html")
			+linkLeftPanel("Кнопки", "buttons.html")

			+linkLeftPanel("Комментарий - Зарегистрироваться", "comment-register.html")

			+linkLeftPanel("Комментарии", "comments.html")
			+linkLeftPanel("Комментарий - зарегистрироваться", "comment-register.html")

			+linkLeftPanel("Оставить комментарий", "comment-add.html")
			+linkLeftPanel("Типографика", "typhography.html")
			+linkLeftPanel("Уведомления", "notifications.html")
			+linkLeftPanel("Элементы формы", "forms.html")
	.left-panel__section
		p.strong Секции
		.left-panel-nav

			//- +linkLeftPanel("Вспомогательные элементы", "elements.html")
			//- +linkLeftPanel("Добавить комментарий", "comment-add.html")
			+linkLeftPanel("Пагинация", "pagination.html")
			//- +linkLeftPanel("Комментарии", "comments.html")
			//- +linkLeftPanel("Комментарий регистрация", "comment-register.html")
			+linkLeftPanel("Подвал сайта", "footer.html")
			+linkLeftPanel("Пост в блоге", "blog-post.html")
			+linkLeftPanel("Сообщение от пользователя", "user-message.html")
			+linkLeftPanel("Шапка администратора", "header-admin.html")
			+linkLeftPanel("Шапка общая", "header.html")

			+linkLeftPanel("Комментарии", "section_comments.html")
			+linkLeftPanel("Комментарий регистрация", "comment-register.html")
			+linkLeftPanel("Пагинация", "pagination.html")
			+linkLeftPanel("Подвал сайта", "footer.html")
			+linkLeftPanel("Пост в блоге", "blog-post.html")
			+linkLeftPanel("Сообщение от пользователя", "user-message.html")
			+linkLeftPanel("Шапка общая", "header.html")
			+linkLeftPanel("Шапка администратора", "header-admin.html")

	.left-panel__section
		p.strong Страницы
		.left-panel-nav
			+linkLeftPanel("Блог", "../blog.html")
			+linkLeftPanel("Вход на сайт", "../login.html")
			+linkLeftPanel("Контакты", "../contacts.html")
			+linkLeftPanel("Контакты - редактирование", "../contacts-edit.html")

			+linkLeftPanel("Мои работы в команде", "../team-portfolio.html")

			+linkLeftPanel("Мои персональыне работы", "../my-portfolio.html")

			+linkLeftPanel("Профиль пользователя", "../profile.html")
			+linkLeftPanel("Профиль пользователя - редактирование", "../profile-edit.html")
			+linkLeftPanel("Контакты - сообщения", "../feedback.html")

			+linkLeftPanel("Добавить работу", "../page-add-projects.html")
			+linkLeftPanel("Блог-Пост-Добавить", "../blog-post-edit.html")

			+linkLeftPanel("Профиль пользователя - редактирование - Технологии", "../aboutme-edit-tech.html")
			+linkLeftPanel("Регистрация", "../registration.html")
