.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк
	
	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")

	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Аватарки", "avatars.html")
			+linkLeftPanel("Анимация загрузки", "page-spinner.html")
			+linkLeftPanel("Бейджи", "badges.html")
			+linkLeftPanel("Индикаторы", "indicators.html")
			+linkLeftPanel("Карточки", "cards.html")
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Комментарий", "comments.html")
			+linkLeftPanel("Комментарий - зарегистрироваться", "comment-register.html")
			+linkLeftPanel("Комментарий - добавить", "comment-add.html")
			+linkLeftPanel("Типографика", "typhography.html")
			+linkLeftPanel("Уведомления", "notifications.html")
			+linkLeftPanel("Элементы формы", "forms.html")

	.left-panel__section
		p.strong Секции
		.left-panel-nav
			+linkLeftPanel("Комментарии", "section_comments.html")
			+linkLeftPanel("Комментарий регистрация", "comment-register.html")
			+linkLeftPanel("Пагинация", "pagination.html")
			+linkLeftPanel("Подвал сайта", "footer.html")
			+linkLeftPanel("Пост в блоге", "blog-post.html")
			+linkLeftPanel("Сообщение от пользователя", "user-message.html")
			+linkLeftPanel("Шапка общая", "header.html")
			+linkLeftPanel("Шапка администратора", "header-admin.html")

	.left-panel__section
		p.strong Страницы
		.left-panel-nav
			+linkLeftPanel("Блог", "../blog.html")
			+linkLeftPanel("Блог пост", "../blog-post.html")
			+linkLeftPanel("Блог пост - добавить", "../blog-post-edit.html")
						
			+linkLeftPanel("Обо мне", "../about-me.html")
			+linkLeftPanel("Обо мне - редактировать: информация", "../aboutme-edit-info.html")
			+linkLeftPanel("Обо мне - редактировать: опыт работы", "../aboutme-edit-job.html")
			+linkLeftPanel("Обо мне - редактировать: технологии", "../aboutme-edit-tech.html")

			+linkLeftPanel("Контакты", "../contacts.html")
			+linkLeftPanel("Контакты - редактировать", "../contacts-edit.html")
			+linkLeftPanel("Контакты - сообщения", "../feedback.html")

			+linkLeftPanel("Профиль пользователя", "../profile.html")
			+linkLeftPanel("Профиль пользователя - редактировать", "../profile-edit.html")
			
			+linkLeftPanel("Работы", "../team-portfolio.html")
			+linkLeftPanel("Работы - персональные", "../my-portfolio.html")
			+linkLeftPanel("Работы - добавить", "../page-add-projects.html")
						
			+linkLeftPanel("Вход на сайт", "../login.html")
			+linkLeftPanel("Регистрация", "../registration.html")