.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк
	
	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")

	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Аватарки", "avatars.html")
			+linkLeftPanel("Анимация загрузки", "page-spinner.html")
			+linkLeftPanel("Бейджи", "badges.html")
			+linkLeftPanel("Карточки", "cards.html")
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Комментарии", "comment-register.html")
			+linkLeftPanel("Оставить комментарий", "comment-add.html")

			+linkLeftPanel("Карточки", "cards.html")
			+linkLeftPanel("Бейджи", "badges.html")
			+linkLeftPanel("Аватарки", "avatars.html")
			+linkLeftPanel("Ошибки", "errors.html")
			+linkLeftPanel("Уведомления", "notifications.html")
			+linkLeftPanel("Анимация загрузки", "page-spinner.html")

			+linkLeftPanel("Типографика", "typhography.html")
			+linkLeftPanel("Уведомления", "notifications.html")
			+linkLeftPanel("Формы", "forms.html")

	.left-panel__section
		p.strong Секции
		.left-panel-nav
			//- +linkLeftPanel("Добавить комментарий", "comment-add.html")
			//- +linkLeftPanel("Комментарии", "comments.html")
			//- +linkLeftPanel("Комментарий регистрация", "comment-register.html")
			+linkLeftPanel("Пост в блоге", "blog-post.html")
			+linkLeftPanel("Пагинация", "pagination.html")
			+linkLeftPanel("Сообщение от пользователя", "user-message.html")
			//- +linkLeftPanel("Вспомогательные элементы", "elements.html")


			//- +linkLeftPanel("Шапка администратора", "header-admin.html")
			+linkLeftPanel("Шапка общая", "header.html")
			//- +linkLeftPanel("Подвал сайта", "footer.html")
		

			+linkLeftPanel("Шапка администратора", "header-admin.html")
			//- +linkLeftPanel("Шапка общая", "header.html")
			+linkLeftPanel("Подвал сайта", "footer.html")


	//- .left-panel__section
	//- 	p.strong Страницы
	//- 	.left-panel-nav
	//- 		+linkLeftPanel("Вход на сайт", "../login.html")

	.left-panel__section
		p.strong Страницы
		.left-panel-nav
			+linkLeftPanel("Вход на сайт", "../login.html")
			+linkLeftPanel("Главная", "../main.html")
			+linkLeftPanel("Мои персональыне работы", "../my-portfolio.html")
			+linkLeftPanel("Профиль пользователя", "../profile.html")
			+linkLeftPanel("Профиль пользователя - редактирование", "../profile-edit.html")


	//- 		+linkLeftPanel("Регистрация", "../registration.html")
	//- 		+linkLeftPanel("Страница Блог - с отдельным постом", "../blog-full-post.html")
	//- 		+linkLeftPanel("Фильмотека", "../filmoteka.html")