.badge {
	display: inline-block;
	border-radius: 30px;
	padding-top: 0.4em;
	padding-bottom: 0.6em;
	padding-left: 1.3em;
	padding-right: 1.3em;
	text-align: center;
	color: @white;
	font-size: 13px;
}
