@radius: 6px;
@shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
@background: #fff;

.card {
	border: none;
	border-radius: @radius;
	background-color: @background;
	box-shadow: @shadow;
	padding: 20px;
}

.card > .title-1, .card > .title-2, .card > .title-3, .card > .title-4, .card > .title-5, .card > .title-6 {
	margin-top: 0;
}
.card__img {
	width: 100%;
	margin-bottom: 15px;
	
	&img {
		max-width: 100%;
	}
}
.card__body {
	position: relative;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.card__title {
	font-family: 'OpenSans Semibold';
	font-size: 23px;
	line-height: 28px;
	letter-spacing: 1.6px;
	padding-bottom: 15px;
	font-weight: 500;
}
.card--post {
	width: 360px;
	height: 308px;
	padding-bottom: -10px;
}
.card--portfolio {
	padding: 0;
	padding-bottom: 20px;
	width: 360px;
	height: 315px;
}