.comment-register {
	background-color: @register-comment-bg;
	padding: 50px 0;
	display: flex;
  justify-content: center;
  align-items: center;
	p {
		font-size: 20px;
		letter-spacing: 0.4px;
		line-height: 34px;
		color: @text;
		margin: 0;
		text-align: center;
	}
}

// for comment-add.html
.comment-add-block {
	padding: 21px 17px;
	width: 100%;
	display: flex;
	background-color: @register-comment-bg;
	align-items: flex-start;
	&__left {
		margin-right: 20px;
	}
	&__right {
		width: 100%;
	}
}


