mixin card-post(imgSrc, text)
	.card
		.card--post
			.card-img
				img(src="../img/svg-for-sprites/"+imgSrc alt="picture")
			.card-text #{text}
			+button('Читать' '#')

mixin card-portfolio(imgSrc, text)
	.card
		.card--portfolio
			.card-img
				img(src="../img/svg-for-sprites/"+imgSrc alt="picture")
			.card-text #{text}
			+button('Смотреть кейс' '#')
