mixin checkbox( name, text, status)
		if status === 'checked'
			.form-checkbox
				label.label-checkbox
					input.checkbox(type=checkbox, name = name,checked)
					span.checkmark
					| #{text}
		else
			.form-checkbox
				label.label-checkbox
					input.checkbox(type=checbox, name = name)
					span.checkmark
					| #{text}