mixin checkbox(type, name, text, status)
		if status === 'checked'
			.form-checkbox
				label.label-checkbox
					input.checkbox(type = type, name = name,checked)
					span.checkmark
					| #{text}
		else
			.form-checkbox
				label.label-checkbox
					input.checkbox(type = type, name = name)
					span.checkmark
					| #{text}