// Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.

mixin footerNavlink(link, name)
	li
		a(href= link) #{name}
    
mixin footerIconLink(link, className)
	a(href= link target='_blank')
		i(class= className)

mixin blogImg(blogImg, altDesc)
	img(src="../img/blog/"+ blogImg alt= altDesc)
