mixin notification(title, mode)
	div(class="notify notify--" + mode   ) #{title}

mixin notificationDesc(title, mode)
	div(class="notify no-radius-bottom notify--" + mode   ) #{title}
	.notify.no-radius-top
		block

mixin notificationUniversal(title, mode)
	if block
		div(class="notify no-radius-bottom notify--" + mode   ) #{title}
		.notify.no-radius-top
			block
	else
		div(class="notify mb-10 notify--" + mode   ) #{title}
