extends ../layouts/main.pug

block variables
	- var title = 'Блог - Пост в блоге';
	- var pageClass = 'content-page';

block content
	//- контейнер с классом section-page (_base.less) добавлен для стандартных отступов,
	//- которые присутствуют практически на всех макетах
	//- при отличие отступов необходимо добавлять класс модификатор section-page--mypage
	.container.user-content.section-page
		.row
			.col-md-10.offset-md-1
				include ../sections/post-blog.pug
				.post-buttons-navigation
					+button-icon-left('Назад', '#', 'fas fa-arrow-left')
					+button-icon-right('Вперёд', '#', 'fas fa-arrow-right').button-blog-next
				h2
					|	2 комментария
				include ../sections/comment.pug
				h2
					|	Оставить комментарий
				include ../sections/comments-add.pug