extends ../layouts/login.pug

block variables
	- var title = 'Вход на сайт';
	- var pageClass = 'login-page';

block content
	.login-page
	.header-top.pl-50.pt-45.pb-100.header-top-bg
		+logo('Супер сайт')
		div.header-registration.pr-50
			+link('Вход', '#').header-registration__link
	.container
		.row
			.login-form__background.col-lg-4
			.login-form
				.user-content
					h1.text-center Регистрация
					fieldset
						form
							+notification('Данный email уже занят', 'error')
								p Используйте другой email чтобы создать новый аккаунт.
								p 
									| Или воспользуйтесь 
									a(href="#!") восстановлением пароля 
									|, чтобы войти на сайт.
							+input('email','email', 'Email')
							+input('password','password', 'Пароль')
							.text-center
								+button-enter('Регистрация', '#')

		.container
			.row
				.footer__item.footer__copyright.col-lg-5.footer__align-center
					p.text-center © Юрий Ключевский #[br]
					p.text-center
						| Создано с 
						//- i.fas.fa-heart.animated.pulse.infinite
						i.fas.fa-heart.animation-pulse
						| в 
						a(href='http://webcademy.ru' target='_blank') #[span WebCademy.ru] 
						| в 2018 году