extends ../layouts/login.pug

block variables
	- var title = 'Вход на сайт';
	- var pageClass = 'login-page';

block content
	.login-page
		.header-top.pl-50.pt-45.pb-100.header-top-bg
			+logo('Супер сайт')
			div.header-registration.pr-50
				+link('Регистрация', 'registration.html').header-registration__link
		.login-page-content
			.container
				.row
					.login-form__background--registration.col-lg-4
						.login-form
							h1.text-center.login-heading Вход на сайт
							form
								+notification('Введите email', 'error')
								+inputFormRegistration('email','email', 'Email')
								+inputFormRegistration('password','password', 'Пароль')
								.pt-20.checkbox-color
									+checkbox('mark', 'Запомни меня')
									+link('Забыли пароль', '#').header-registration__link.ml-0
								.text-center.pt-30
									+button-enter('Регистрация', '#')
		.container
			.row
				.footer__item.footer__copyright.col-lg-5.footer__align-center
					p.text-center © Юрий Ключевский #[br]
					p.text-center
						| Создано с 
						//- i.fas.fa-heart.animated.pulse.infinite
						i.fas.fa-heart.animation-pulse
						| в 
						a(href='http://webcademy.ru' target='_blank') #[span WebCademy.ru] 
						| в 2018 году