extends ../layouts/login.pug

block variables
	- var title = 'Вход на сайт';
	- var pageClass = 'login-page';

block content
		.login-page
			.container
			.logo
				a
					img(src="../img/form-ui/twitter.png")
				.header-logo__title Супер сайт