extends ../layouts/main-user.pug

block variables
	- var title = 'Профиль пользователя - редактирование';
	- var pageClass = 'content-page';

block content
	//- контейнер с классом section-page (_base.less) добавлен для стандартных отступов,
	//- которые присутствуют практически на всех макетах
	//- при отличие отступов необходимо добавлять класс модификатор section-page--mypage
	.container.user-content.section-page
		h1 Редактировать - Обо Мне

		+input('firstname','text', 'Введите имя','Имя, фамилия')

		p.label.
			Фотографии
		p.
			Изображение jpg или png, рекомендуемый размер 205px на 205px, вес до 2Мб.
		+formInput('id', 'post', 'action', 'Выбрать файл', 'Файл не выбран')

		+avatar-small('photo-big.jpg')

		+textArea('message', 'type', 'Введите информацию о себе...',' Информация на главной')

		+button-save('Сохранить', '#')
		+button('Отмена', '#')
