extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title Кнопки

			.section-ui
				+button('Вперёд	→', '#')
			pre.
				+button('Вперёд	→', '#')

			.section-ui
				+button('Подробнее', '#')
			pre.
				+button('Подробнее', '#')

			.section-ui
				+button--edit('Редактировать', '#')
			pre.
				+button--edit('Редактировать', '#')

			.section-ui
				+button--remove('Удалить', '#')
			pre.
				+button--remove('Удалить', '#')

			.section-ui
				+button--save('Сохранить', '#')
			pre.
				+button--save('Сохранить', '#')

			.section-ui
				+button--enter('Войти', '#')
			pre.
				+button--enter('Войти', '#')

			.section-ui
				+button--profile('Профиль', '#')
			pre.
				+button--profile('Профиль', '#')

			h1.
				Кнопки малого размера.

			.section-ui
				+button--small('Подробнее', '#')
			pre.
				+button--small('Подробнее', '#')

			.section-ui
				+button--edit-small('Редактировать', '#')
			pre.
				+button--edit-small('Редактировать', '#')

			.section-ui
				+button--save-small('Сохранить', '#')
			pre.
				+button--save-small('Сохранить', '#')

			.section-ui
				+button--remove-small('Удалить', '#')
			pre.
				+button--remove-small('Удалить', '#')