extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Формы - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.section-ui
				.title Элементы формы
				p
					b.
						Чекбоксы
				+checkbox('checkbox','mark', 'Запомни меня')
				p.
					Чекбокс в неактивном состоянии.  
				pre.
					+checkbox('checkbox','mark', 'Запомни меня')
			.section-ui
				+checkbox('checkbox','mark', 'Запомни меня','checked')
				p.
					Миксин, который отвечает за  автоматическое включение "галочки" у чекбокса. Так же, это пример чекбокса в активном состояние.  
				pre.
					+checkbox('checkbox','mark', 'Запомни меня','checked')