
extends ../../layouts/ui-layout.pug
block variables
	- var title = 'Формы - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'
include ../../mixins/radio-buttons.pug

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.section-ui
				.title Элементы формы
				form.form#loginForm
					fieldset
						+radio-buttons("radio-group-1", "znachenie-1", "Option-1")
						+radio-buttons("radio-group-1", "znachenie-2", "Option-2")
						+radio-buttons("radio-group-1", "znachenie-3", "Option-3")
						